<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSBackgroundOnly</key>
	<true/>
	<key>LSMinimumSystemVersion</key>
	<string>${MACOSX_DEPLOYMENT_TARGET}</string>
	<key>NSSupportsSuddenTermination</key>
	<true/>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSServiceDescription</key>
			<string>Open links in Firefox</string>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Open in Firefox</string>
			</dict>
			<key>NSMessage</key>
			<string>doBrowserService</string>
			<key>NSPortName</key>
			<string>BrowserService</string>
			<key>NSRequiredContext</key>
			<array>
				<dict>
					<key>NSTextContext</key>
					<string>URL</string>
				</dict>
				<dict>
					<key>NSLinkSchemes</key>
					<array>
						<string>http</string>
						<string>https</string>
					</array>
				</dict>
			</array>
			<key>NSSendTypes</key>
			<array>
				<string>public.rtf</string>
				<string>public.utf8-plain-text</string>
			</array>
			<key>NSUserData</key>
			<string>org.mozilla.firefox</string>
			<key>NSWordLimit</key>
			<integer>20</integer>
		</dict>
	</array>
</dict>
</plist>
